- title("iBooking.site: 1,249,192 hotels worldwide. 118+ million hotel reviews.")
- keywords("lodging, accommodation, hotel, Hotels, special offers, packages, specials, weekend breaks, city breaks, deals, budget, cheap, discount, savings, ibooking, booking hotels")
- head_desc("Whether you’re looking for hotels, homes, or vacation rentals, you’ll always find the guaranteed best price. Browse our 1,249,192 accommodations in over 85,000 destinations.")

.container
  .row
    .col-md-12
      %h1.page-header iBooking.site
      %p.alert.alert-info Whether you’re looking for hotels, homes, or vacation rentals, you’ll always find the guaranteed best price. Browse our 1,249,192 accommodations in over 85,000 destinations.
